.list {
    background: var(--tgui--secondary_bg_color);

}

.header {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

    }
    100% {
        text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);

    }
}

.creator {
    margin: auto;
    display: flex;
    align-items: center;
    gap:10px;
    width: 70%;

}

.border {
    border-left: 1px solid rgba(255, 133, 34, 0.20);
    border-right: 1px solid rgba(255, 133, 34, 0.20);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.button {
    margin: auto;
    display: block;

}


.description {
    margin: auto;
    height: auto;
    display: block;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;

}

.info-container {
    display: flex;
    gap: 20px; /* Расстояние между элементами */
    align-items: center; /* Выравнивание по вертикали */
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 5px;
}


.time, .limit {
    white-space: nowrap; /* Запрет переноса текста */
    font-size: 1rem;
    font-weight: bold;
    margin: auto;
    padding: 5px 5px;
    height: auto;
    display: block;
    text-align: left;


}

.time {

    cursor: pointer;
}


.participant {

    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
    margin: 4px;

    text-align: left;
    border-left: 1px solid rgba(255, 133, 34, 0.20);
    border-right: 1px solid rgba(255, 133, 34, 0.20);
    border-radius: 5px;

}

.participant:hover {
    background: linear-gradient(90deg, rgba(255, 126, 95, 0.03), rgba(254, 180, 123, 0.05));
    padding: 4px;
    margin: 4px;
    text-align: left;
    border: 1px solid rgba(255, 133, 34, 0.20);
    border-radius: 5px;
}

.section-details {
    color: var(--tg-theme-link-color, blue);
    text-align: center;

    border-radius: 10px;
    background: var(--tgui--section_bg_color);
    margin: 5px 2px;
    padding: 2px;

}

