
.button{
    margin: auto;
    display: block;
}

/* Основной контейнер приложения */
.event-cell {

    width: 95%;
    height: 27px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgba(255, 133, 34, 0.22);
    border-radius: 10px;

}
.event-cell:hover{
    background-color: rgba(255, 133, 34, 0.22);
}

.event-title {
    margin: 1px;
    padding-left: 10px;
    text-align: left;
    width: 90%;
}
.event-status {

    width: 10%;
    text-align: center;
    margin-bottom: 5px;
    /*padding: -100px; !* Отступы для содержимого *!*/
}
.divider{

    margin: auto;
    display: block;
    width: 95%;
}