
.button {
    margin: auto;
    display: block;
    color: #0c28ff;
}

/* Основной контейнер приложения */
.event-cell {
    height: auto;
    display: flex;
    padding: 4px;
    margin: 4px;


}

.event-cell:hover {
    background-color: rgba(255, 133, 34, 0.22);
    background: linear-gradient(90deg, rgba(255, 126, 95, 0.03), rgba(254, 180, 123, 0.05));
    padding: 4px;
    margin: 4px;

    /*border: 1px solid rgba(255, 133, 34, 0.20);*/
    border-radius: 5px;
}

.event-title {
    margin: 1px;
    padding-left: 10px;
    text-align: left;
    width: 90%;
}

.event-status {

    width: 10%;
    text-align: center;
    margin-bottom: 5px;
    /*padding: -100px; !* Отступы для содержимого *!*/
}



.section_event_list {
    color: var(--tg-theme-link-color, blue);
    text-align: center;
    padding: 3px;
    margin: 3px;

    background: var(--tgui--section_bg_color);
    border: 1px solid rgba(255, 133, 34, 0.20);
    border-radius: 5px;
}

.button_show_hide_create_event {
    width: 100%;
    background-color: transparent; /* Прозрачный фон */
    border: none; /* Убираем границу */
    color: var(--tg-theme-link-color, blue);
    cursor: pointer; /* Курсор в виде указателя */
    font-size: 16px; /* Размер текста */
    padding: 8px 16px; /* Отступы внутри кнопки */
    border-radius: 4px; /* Скругленные углы */
    transition: background-color 0.3s ease; /* Плавный переход для фона */
    outline: none; /* Убираем контур при фокусе */
}
.button_show_hide_create_event:hover {
    background-color: rgba(0, 123, 255, 0.1); /* Легкий фон при наведении */
}